{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Michaelism - Home {% endblock %}

{% block css %}
    <link href={% static "css/index.css" %} rel="stylesheet">
{% endblock %}

{% block body %}


<div class="container">
  <div class="main">
    <img src={% static "image/profile_image.jpg" %}>
    <div class="info">
        <h2> Yanshu Hong. </h2>
        <p class="gray-out"> Thinking, Connecting, Doing. </p>
        <br>
        <p> Stanford University, Class of 2017. </p>
        <p> Computer Science, Philosohpy. </p>
        <p> yanshu.hong.michael@gmail.com </p>
    </div>
  </div>
</div>

{% endblock %}
