{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Michaelism - Home {% endblock %}

{% block css %}
    <link href={% static "css/index.css" %} rel="stylesheet">
{% endblock %}

{% block body %}


<div class="container">
  <div class="main">
    <img src={% static "image/apple.jpg" %}>
    <h2> Yanshu Hong. </h2>
    <p> Thinking, Connecting, Doing. </p>
    <br>
    <p> 17', Stanford University - Computer Science, Philosohpy. </p>
    <p> yanshu.hong.michael@gmail.com </p>
  </div>
</div>

{% endblock %}
