
body { 
    /* offset for navigation bar */
    margin-top: 70px; 
    /* margin at the page bottom */
    margin-bottom: 30px;
    font-family: 'Oxygen', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 
    'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}

/* Restraints */
.restrained-width {
    max-width: 800px;
}

/* navbar configurations */
.navbar {
    background-color: white;
    border: none;
}

.navbar-brand {
    color: black !important;
}

@media(min-width: 768px) {
    /* align navbar items with navbar brand */
    .navbar-nav>li>a {
        padding-top: 16px;
    }   
}

/* active navbar item style */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    font-weight: 700;
    color: black;
}

/* hyperlink style */
a {
    color: #AAAAC6; /* dark blue */
}

a:focus, a:hover {
    color: #333;
    text-decoration: none;
}

/* empty placeholder style */
.empty-placeholder {
    color: #777;
}




